<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Scalate</string>
	<key>uuid</key>
	<string>B145B25C-BD41-4E81-9B0D-78893D1C8746</string>
</dict>
</plist>
